@model IEnumerable<RSSolution.ViewModels.Catalog.Table.TableVm>
@{ ViewData["Title"] = "GetAll Table";
    Layout = "_Layout-Page"; }
@{ var culture = CultureInfo.CurrentCulture.Name; }
<div id="page-wrapper">
    <div class="main-page">
        <center><h3 class="title1">Table</h3></center>
        <div class="grid-bottom widget-shadow">
            <table class="table table-bordered table-striped no-margin grd_tble">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.ActionLink("Order", "Checkout", new { tableId = item.Id }) |
                            @Html.ActionLink("ChangeTable", "ChangeTable", new { tableId = item.Id }) |
                            @Html.ActionLink("MergeTable", "MergeTable", new { tableId = item.Id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <hr />

        </div>
    </div>
</div>