@model IEnumerable<RSSolution.ViewModels.Catalog.Table.TableVm>
@{
    ViewData["Title"] = "GetAll Meal Categories";
    Layout = "_Layout";
}
@section Scripts{
    <script>setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);</script>
}
<div id="page-wrapper">
    <div class="main-page">
        <center><h3 class="title1">Table</h3></center>
        <div class="grid-bottom widget-shadow">
            <a class="btn btn-success" asp-action="Create" asp-controller="Table">Create New</a><hr />
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                 </div>
             }
            <table class="table table-bordered table-striped no-margin grd_tble">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>}
                </tbody>
            </table>
            <hr />

        </div>
    </div>
</div>