@model RSSolution.ViewModels.Catalog.Contacts.ContactVm
@{ ViewData["Title"] = "Details";
                Layout = "_Layout"; }
<div id="page-wrapper">
    <div class="main-page">
        <table class="table table-bordered">
            <thead class="table-dark bg-primary text-center">
                <tr>
                    <center>
                        <th colspan="2">
                            Details
                        </th>
                    </center>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactDate)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ContactDate)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>
                    <td>
                        <textarea style=" position:relative">@Html.DisplayFor(model => model.Message)</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <center>
        <div class="edu_button">
            <a href='javascript:history.go(-1)' class="btn btn-primary">Back to list</a>
        </div>
    </center>
</div>